body{
  background-color: #4E6C50;
}
.app{
  background-color: #F0EBCE;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}
.container{
  display: flex;
  justify-content: center;
}
h1{
  color: #395144;
  letter-spacing: 1rem;
  font-family: 'Montserrat', sans-serif;
}

input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  border: 1.5px solid #4E6C50;
  font-family: 'Montserrat', sans-serif;
  width: 67%;
}
.add {
  padding: 10px;
  border: none;
  width: 10%;
  color: #F0EBCE;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background: #4E6C50;

}

.delete {
  background: #d30100;
  padding: 10px;
  border: none;
  width: 10%;
  color: #F0EBCE;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

ul,li{
  list-style-type: '--';
  margin: 0;
  color: #395144;
  font-family: 'Montserrat', sans-serif;
}
.crossed {
  text-decoration: line-through 2px #d30100;
}
